/*--------------------------------------------------- pc ------------------------------------------------*/


/*--------------------Home Page------------------*/
@media screen and (min-width: 1201px) {
  .box{
    width: 550px;
    background: rgba(0, 0, 0, 0.63);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    transition: .4s;
    border-color: #e4e3e3;
    border-radius: 10px;
    max-width: 80%;
    padding: 50px;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 100;
    align-items: center;

  }
  .box h5{
    font-size: 20px;
    font-weight: 400;
    word-spacing: 2px;
    color: #b9b9b9;
  }
  .box p{
    text-align: center;
    word-spacing: 2px;
    font-weight: 100;
    padding-top: 10px;
    color: white;
    font-size: 15px;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }

  .social{
    color: rgb(255, 255, 255);
    transition: color 0.2s;
    margin: 5 10px;
    align-self: ce;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    transition: .5s;
  }
  .social :hover{
    color:  rgb(118, 119, 189);
  }

  h3{
    color: rgb(192, 192, 192);
    font-size: 20px;
    font-family: 'Century Gothic',sans-serif;

  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }
  .hero{
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 12%;
  }
  .logo{
    color:  rgb(110, 108, 194);
    font-size: 48px;
    opacity: 100%;
    font-weight: 100%;
    padding-left: 2%;
  }
  span{
    color: rgb(118, 74, 199);
    font-weight: bold;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
  }
  nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 50px;
    text-decoration-line: underline;
    text-underline-position: under;
  }
  nav ul li a:hover{
    color: rgb(118, 119, 189);
    transition: .3s;
  }
  button{
    border: none;
    background-color: rgb(110, 108, 194);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
  }
  .navbar-buttons{
    font-size: 20px;
  }
  button:hover{
    transform: scale(1.3);
    cursor: pointer;
    color: rgb(118, 119, 189);
    transition: .3s;
  }
  .hr{
    width: 100%;
    height: .1px;
    border-width: 0;
    color: rgba(255, 255, 255, 0.336);
    background-color: rgba(95, 94, 94, 0.63);
  }
/*--------------------Project Page------------------*/

/*--------------------Project Page------------------*/
  .border2{

    height: 550px;
    background: rgb(0, 0, 0);
    padding: 30px;
    text-align: center;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 0;
    color: rgb(0, 0, 0);
    font-family: 'Century Gothic',sans-serif;
    
  }
  .projectheader {
    color:  white;
  }
    
  .border2-img{
    border-radius: 100%;
    height: 200px;

  }
  .box h1{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 100;
    align-items: center;
  }
  .projectpage{
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 30px 30px;
  }
  .border2 h4{
    font-size: 15px;
    color: white;
    text-align: center;
    font-weight: 150;
    padding-left: 200px;
    padding-right: 200px;
  }
  .border2 h4{
  color: white;
  }

  .border2{
    line-height: 20px;
  }
  .parallaxcenter {
    font-size: 550%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    transition: 1s;
    opacity: 50%;
    background-image: url(images/shooting-stars-in-sky.jpg) no-repeat;
}
  .logo{
    opacity: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projectbody{
    transition: 1s;
    margin: 0;
    padding: 0;
    background: url(images/shooting-stars-in-sky.jpg) no-repeat;
    background-size: cover;

}
.youtube {
  width: 640px;
  height: 390px;
}
.parallax h4{
  letter-spacing: .5px;
  color: rgb(211, 211, 211);
  line-break: auto;
  line-height: 20px;
  margin-left: 50px;
  margin-right: 5 0px;
}
.parallax h2{
  color: rgba(255, 255, 255, 0.952);

}
.imgcenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 12%;
  margin-right: 12%;
}

.imggallery {
  float: left;
  width: 28%;
  margin: 10px;
  margin: 25px;
}

footer{
    background: rgb(0, 0, 0);
    width: 100%;
    padding-top: 40px;
    color: white;
    margin-bottom: 100px;
  }

  .footer-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 50%;
    letter-spacing: 2px;
    
  }
 .footer-content p{
  line-height: 28px;
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: 3px;
 } 

.socials :hover{
  color: rgb(109, 109, 109);
  transition: .2s;
}
.footer-bottom{
  background-color: rgb(0, 0, 0);
  width: auto;
  padding: 5px;
  text-align: center;
  font-family: sans-serif;

}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  color: #888;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .9;
  font-weight: 200;
  text-decoration-line: underline;
  text-underline-position: under;
  color: rgba(255, 255, 255, 0.862);
}

.navbar-footer {
  transition: 1s;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  font-family: 'Century Gothic',sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.navbar-footer a {

  color: rgba(213, 213, 213, 0.582);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: 'Century Gothic',sans-serif; 
}
.navbar-footer a:hover {
  color:  rgb(255, 255, 255);
}
.footer-rules{
  font-size: 13px;
  transition: 1s;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  font-family: 'Century Gothic',sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-rules a{
  color: rgba(183, 183, 183, 0.325);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-family: 'Century Gothic',sans-serif; 
  text-decoration-line: underline;
  text-underline-position: under;
}
.footer-rules a:hover{
  color: rgb(255, 255, 255);
}
.projectfooter {
  margin-top: 1300px;
  background: rgb(0, 0, 0);
  width: 100%;
  padding-top: 40px;
  color: white;
  margin-bottom: 100px;
}
/*--------------------Rules Page------------------*/
.terms h4 {
  letter-spacing: .8px;
  color: rgb(118, 119, 189);
  text-align: left;
  line-height: 25px;
  margin-left: 350px;
  margin-right: 100px;
  align-items: center;
  font-size: 20px;
  text-decoration: underline;
  text-underline-position: under;
  font-weight: bold;
}
.terms p {
  letter-spacing: .5px;
  color: rgb(255, 255, 255);
  line-break: auto;
  text-align: left;
  line-height: 25px;
  margin-left: 550px;
  margin-right: 550px;
  align-items: center;
  font-weight: lighter;
  font-size: 15px;
}
.rules-home  {
  transition: 1s;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  font-family: 'Century Gothic',sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin-left: 550px;
  margin-right: 550px;
  letter-spacing: .5px;
  font-size: 13px;
}
.rules-home a {
  color: rgba(213, 213, 213, 0.582);
  text-align: center;
  text-decoration: none;
  font-family: 'Century Gothic',sans-serif; 
  text-decoration: underline;
  text-underline-position: under;
}
.rules-home a:hover {
  color: rgb(255, 255, 255);
  transition: .4s;
}
/*--------------------Hobbie Page------------------*/
.parallaxcenter {
    font-size: 550%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.425);
    transition: 1s;
    opacity: 50%;
    background-image: url(images/shooting-stars-in-sky.jpg) no-repeat;
}
  .hobbies-page{
    transition: 1s;
    margin: 0;
    padding: 0;
    background: url(images/shooting-stars-in-sky.jpg) no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0); 
    width: 100%;
  }
  .imgcenter-hobby{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 20px;
  }
  .imggallery-hobby{
    float: left;
    width: 30%;
    margin: 20px;
  }
}
/*--------------------Scrollbar (universal)------------------*/
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
      border-radius: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background:rgb(27, 27, 27);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
      width: 10px;
  }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
          background: #555;
      }

  ::selection {
      color: black;
      background: #f25a02;
    }

/*--------------------------------------------------- mobile ------------------------------------------------*/
@media screen and (max-width: 1200px) {

    .box{
      width: 300px;
      background: rgba(0, 0, 0, 0.63);
      padding: 20px;
      text-align: center;
      margin: auto;
      margin-top: 1%;
      margin-bottom: 5%;
      color: white;
      font-family: 'Century Gothic',sans-serif;
      transition: .4s;
      border-color: #e4e3e3;
      border-radius: 10px;
      max-width: 80%;
    }
    .box-img{
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
    .box h1{
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 100;
      align-items: center;
  
    }
    .box h5{
      font-size: 20px;
      font-weight: 400;
      word-spacing: 2px;
      color: #b9b9b9;
    }
    .box p{
      text-align: center;
      word-spacing: 2px;
      font-weight: 100;
      padding-top: 10px;
      color: white;
      font-size: 13px;
    }
    ul{
      margin: 0;
      padding: 0;
    }
    .box li{
      display: inline-block;
      margin: 6px;
      list-style: none;
    }
    .box li a{
      color: white;
      text-decoration: none;
      font-size: 20px;
      transition: all ease-in-out 250ms;
    }
    .box li a:hover{
      color: #b9b9b9;
    }
  
    .social{
      color: rgb(255, 255, 255);
      transition: color 0.2s;
      margin: 5 10px;
      align-self: ce;
      padding: 10px;
      font-size: 20px;
      width: 25px;
      text-decoration: none;
      transition: .5s;
    }
    .social :hover{
      color:  rgb(118, 119, 189);
    }
  
    h3{
      color: rgb(192, 192, 192);
      font-size: 17px;
      font-family: 'Century Gothic',sans-serif;
  
    }
    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  
    }
    .hero{
      width: 100%;
      font-family: 'Josefin Sans', sans-serif;
    }
    nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      padding-left: 2%;
      padding-right: 2%;
    }
    .logo{
      color:  rgb(110, 108, 194);
      font-size: 15px;
      opacity: 100%;
      font-weight: 50%;
      padding-left: 1%;
      
    }
    span{
      color: rgb(118, 74, 199);
      font-weight: bold;
    }
    nav ul li{
      list-style-type: none;
      display: inline-block;
      padding: 5px;
      font-size: 13px;
    }
    nav ul li a{
      color: white;
      text-decoration: none;
      font-weight: bold;
      margin-right: 0px;
    }
    nav ul li a:hover{
      color: rgb(118, 119, 189);
      transition: .3s;
    }
    button{
      border: none;
      background-color: rgb(110, 108, 194);
      padding: 5px 10px;
      border-radius: 30px;
      color: white;
      font-weight: bold;
      font-size: 10px;
      transition: .4s;
    }
    button:hover{
      transform: scale(1.3);
      cursor: pointer;
      color: rgb(118, 119, 189);
      transition: .3s;
    }
    .hr{
      width: 100%;
      height: .1px;
      border-width: 0;
      color: rgba(255, 255, 255, 0.336);
      background-color: rgba(95, 94, 94, 0.63);
    }
  /*--------------------Project Page------------------*/
.border2{

  height: 550px;
  background: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
  
.border2-img{
  border-radius: 100%;
  height: 200px;
  

}
.box h1{
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 100;
  align-items: center;
}

.projectpage{
  font-family: sans-serif;
  color: white;
  font-size: 10px;
  margin: auto;
}
.border2 h4{
  font-size: 12px;
  color: white;
  text-align: center;
  font-weight: 150;
  padding-left: 15px;
  padding-right: 15px;

}

.border2{
  line-height: 20px;
}
.parallaxcenter {
  font-size: 250%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.589);
  transition: 1s;
  opacity: 85%;
  background-image: url(images/shooting-stars-in-sky.jpg) no-repeat;
}
.projectbody{
  transition: 1s;
  margin: 0;
  padding: 0;
  background: url(images/shooting-stars-in-sky.jpg) no-repeat;
  background-size: cover;
  background-color: rgb(0, 0, 0); 

}
.logo {
  opacity: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube {
width: 70%;
height: 35%;
}

.parallax h4{
letter-spacing: .5px;
color: rgb(211, 211, 211);
line-break: auto;
line-height: 20px;
padding: 20px;
}
.parallax h2{
color: rgba(255, 255, 255, 0.952);

}
.imgcenter {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
margin-top: 20px;
}

.imggallery {
float: left;
width: 90%;
margin: 10px;

}

footer{
  background: rgb(0, 0, 0);
  width: 100%;
  padding-top: 10px;
  color: white;
  margin-bottom: 100px;
}

.footer-content {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: 50%;
  letter-spacing: 2px;
  
}
.footer-content p{
line-height: 28px;
font-size: 14px;
font-family: sans-serif;
letter-spacing: 3px;
} 

.socials :hover{
color: #b9b9b9;

}
.footer-bottom{
background-color: rgb(0, 0, 0);
width: auto;
padding: 5px;
text-align: center;
font-family: sans-serif;

}
.footer-bottom p {
font-size: 12px;
word-spacing: 1px;
}
.footer-bottom span{
text-transform: uppercase;
opacity: .4;
font-weight: 200;
}

.navbar-footer {
transition: 1s;
overflow: hidden;
background-color: rgb(0, 0, 0);
font-family: 'Century Gothic',sans-serif;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
margin-bottom: auto;
}

.navbar-footer a {

color: rgba(164, 164, 164, 0.582);
text-align: center;
padding: 1px 10px;
text-decoration: none;
font-family: 'Century Gothic',sans-serif; 
font-size: 13px;
}
.navbar-footer a:hover {
color: #b9b9b9;
}
  }
  .footer-rules{
    font-size: 11px;
    transition: 1s;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    font-family: 'Century Gothic',sans-serif;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-rules a{
    color: rgba(183, 183, 183, 0.325);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-family: 'Century Gothic',sans-serif; 
    text-decoration-line: underline;
    text-underline-position: under;
  }
  .footer-rules a:hover{
    color: rgb(255, 255, 255);
  }
  .projectfooter {
    margin-top: 1800px;
    background: rgb(0, 0, 0);
    width: 100%;
    padding-top: 40px;
    color: white;
    margin-bottom: 100px;
  }
  /*--------------------Rules Page------------------*/
  .rules-home a {
    color: rgba(213, 213, 213, 0.582);
    text-align: center;
    text-decoration: none;
    font-family: 'Century Gothic',sans-serif; 
    text-decoration: underline;
    text-underline-position: under;
  }
  .rules-home a:hover {
    color: rgb(255, 255, 255);
    transition: .4s;
  }
  /*--------------------Hobbie Page------------------*/
  .parallaxcenter {
      font-size: 550%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgba(0, 0, 0, 0.425);
      transition: 1s;
      opacity: 50%;
      background-image: url(images/shooting-stars-in-sky.jpg) no-repeat;
  }
    .hobbies-page{
      transition: 1s;
      margin: 0;
      padding: 0;
      background: url(images/shooting-stars-in-sky.jpg) no-repeat;
      background-size: cover;
      background-color: rgb(0, 0, 0); 
      width: 100%;
    }
    .imgcenter-hobby{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5%;
      margin-top: 20px;
    }
    .imggallery-hobby{
      float: left;
      width: 30%;
      margin: 20px;
    }
    
  
  
