body{
  transition: 1s;
    margin: 0;
    padding: 0;
    background: url(images/bruh.jpg) no-repeat;
    background-size: cover;
    background-color: rgba(35, 67, 137, 1);
  }
  .box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 100;
    align-items: center;

  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: center;
    word-spacing: 2px;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }

  .navbar {
    transition: 1s;
    overflow: hidden;
    background-color: rgb(27, 27, 27);
    font-family: 'Century Gothic',sans-serif;
  }
  
  .navbar a {

    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: 'Century Gothic',sans-serif;
  }
  
  .navbar a.right {
    float: right;
    font-family: 'Century Gothic',sans-serif;
  }
  
  .navbar a:hover {
    color: #b9b9b9;
  }
  .footer {
    padding: 14px 20px;
    text-align: center;
    
  }
  
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
    

    }

  .social{
    color: rgb(118, 119, 189);
    transition: color 0.2s;
    margin: 5 10px;
    align-self: ce;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;


  }
  .social :hover{
    color: #e4e3e3;
  }

  h3{
    color: rgb(192, 192, 192);
    font-size: 20px;
    font-family: 'Century Gothic',sans-serif;

  }

  .border2{
    size: 450px 450px;
    height: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .border2-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 100;
    align-items: center;
  }

  .projectpage{
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    margin: 30px 30px;
  }
  .border2 h4{
    font-size: 15px;
    color: white;
    margin: 20px 20px;
    text-align: center;
    font-weight: 150;
  }